.home {
  .slick-slider {
    button {
      //background: red;

    }
  }

  .slick-slide {
    div{
      //margin: 0 5px;
    }
    .carousel_item {
      width: 90% !important;
      display: block !important;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}
.section_course{
  border: 1px solid #d1d7dc;
  padding: 3.2rem;
}

/*===============  RESPONSIVE  ==================*/

@media (min-width: 320px) {
  .home {
    .nav-menu {
      .menu-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: 768px) {
  .home {
    .nav-menu {
      .menu-item {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 15px;

        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .home {
    .nav-menu {
      .menu-item {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;

        &:nth-child(even) {
          margin-right: 2%;
        }

        &:nth-child(3n + 0) {
          margin-right: 0;
        }

        > span {
          font-size: 1.125rem;
        }
      }
    }
  }
}

@media (min-width: 1130px) {
  .home {
    .nav-menu {
      .menu-item {
        > span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
